<form method="post">
  <table align="center" border="" >
    <tr>
      <td>Name:</td>
      <td><input type="text" name="name" placeholder="Enter Name" value="<%= data.name %>">
    </tr>
    <tr>
      <td>Email:</td>
      <td><input type="text" name="email" placeholder="Enter Email" value="<%= data.email %>">
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="text" name="password" placeholder="Enter Password" value="<%= data.password %>">
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" name="save" value="Submit">
    </tr>
  </table>  
</form>